---
import '../styles/main.css'
---
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="main.css"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="app,coding,javascript, projects, hiring, portfolio, professional, tech">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Empress Bates Portfolio</title>
</head>
<body class="color">
    <header>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-us/">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact-us/">Contact-us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/portfolio/">Portfolio</a>
          </li>
      </ul>
    </header>
   <h1>Welcome to my portfolio!</h1>
   <p><strong>On the Portfolio tab you will be able to see what projects that I have done and the technology that was used to create the app or website. <br>
      On the about us page you can learn a little bit about me and my work experiences. <br>
      On the contact page every way to contact me will be displayed. Thank you for visiting my webite. Enjoy!</strong></p>
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>  
</body>
</html>
